<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  {%- if page.url == "/" -%}
    <body class="body--landing">
  {%- else -%}
      <body>
  {%- endif -%}

    <div class="effect"></div>

  {%- if page.url == "/" -%}
    <div class="content--landing">
  {%- else -%}
    <div class="content">
  {%- endif -%}

      {%- include header.html -%}

      <!-- only add the class main-content if the page is not the landing page.
      This makes the content stretch to take up space between header and footer.-->

      {%- if page.url != "/" -%}
        <main class="main-content" aria-label="Content">
      {%- else -%}
        <main aria-label="Content">
      {%- endif -%}
            {{ content }}
        </main>

      {%- include footer.html -%}

    </div>

    {%- if page.url == "/" -%}
      {%- include main-image.html -%}
    {%- endif -%}
  </body>

</html>
