---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">


    <div class="title--article">
      <h1 class="title__heading" itemprop="name headline">
        {{ page.title }}
      </h1>
      <p class="title__subheading">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <time itemprop="dateModified">
          {{ page.date | date: date_format }}
        </time> . <span> {{ page.author }}</span>
      </p>
      <img class="title__image" src="{{ page.image }}">
    </div>

    {{ content }}

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
